body {
  background-color: var(--white);
}

#info1, #info2, #info3 {
  background-color:rgba(0, 0, 0, 0.7) ;
  height: 200px;
  border-radius: 15px;
  color: var(--white);
  font-family: "Kanit";
}

#titulostyle {
  background-color: var(--blue);
  color: var(--white);
}

.texto{
  font-family: "Kanit";
  color: var(--white);
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.login-container {
  max-width: 400px;
  margin: 80px auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.btn-login {
  background-color: var(--blue);
  color: var(--white);
}

.btn-login:hover {
  background-color:#030356;
  color: var(--white);
}

.anuncio-info {
  border: 2px solid var(--blue);
  border-radius: 10px 50px 10px 10px;
  padding: 20px;
  background-color: var(--white);
}

.anuncio-proprietario {
  background-color: var(--blue);
  color: var(--white);
  padding: 15px;
  border-radius: 0 0 10px 10px;
}

.botao {
  background-color: var(--white);
  padding: 6px;
  border-radius: 4px;
  color: var(--blue);
  text-decoration: none;
}

.botao:hover {
  background-color: var(--white);
  color: #030356;
}

#navStyle {
  color: var(--black);
  text-decoration: none;
  margin: 5px;
  font-family: "Kanit";
}

.navbar {
  background-color: var(--white);
  position: relative;
  z-index: 3;
}

:root {
  --red: #FF5900;
  --pink: #FF5574;
  --blue: #0000FF;
  --white: #F6EEE3;
  --black: #000000;

}

.kanit-regular {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}