body {
  background-color: var(--white);
}

strong {
  color: var(--blue);
}

.car-blue{
  background-image: url(../imagens/car2.png);
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top 100%;
  color: aliceblue;
}

#titulostyle{
  background-color: var(--blue);
  color: var(--white);
}

.anuncio-info {
  border: 2px solid var(--blue); 
  border-radius: 10px 50px 10px 10px;
  padding: 20px;
  background-color: var(--white);
}

.anuncio-proprietario {
  background-color: var(--blue);
  color: var(--white);
  padding: 15px;
  border-radius: 0 0 10px 10px;
}

.botao {
  background-color: var(--white);
  padding: 6px;
  border-radius: 4px;
  color: var(--blue);
  text-decoration: none;
}

.botao:hover {
  background-color: var(--white);
  color: #030356;
}

#navStyle {
  color: var(--blue);
  text-decoration: none;
  margin: 5px;
}

.navbar-expand-lg {
  background-color: var(--white) ;
}

:root {
  --red: #FF5900;
  --pink: #FF5574;
  --blue: #0000FF;
  --white: #F6EEE3;
  --black: #000000;

}